<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>Tweets</title>
</head>
<body>
<ul>
    <li><a th:href="@{/}"/>Index</a></li>
    <li><a th:href="@{/queries/}"/>My queries</a></li>
</ul>
<h1>Tweets</h1>
<ul>
    <table>
        <tr>
            <th>Date</th>
            <th>Author</th>
            <th>Message</th>
        </tr>
        <tr th:each="tweet : ${tweets}">
            <td th:text="${tweet.createdAt}"></td>
            <td th:text="${tweet.author}"></td>
            <td th:text="${tweet.message}"></td>
        </tr>
    </table>
</ul>
</body>
</html>