version: '3.4'

services:
  ms-tweets-db:
    container_name: ms-tweets-db
    image: postgres:12.1-alpine
    restart: always
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: twisub
    ports:
      - 54320:5432

  ms-tweets:
    container_name: ms-tweets
    image: aliskhakov/tweets:${APP_VERSION}
    depends_on:
      - ms-tweets-db
      - kafka
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://ms-tweets-db:5432/twisub
      SPRING_DATASOURCE_USERNAME: username
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_KAFKA_PRODUCER_BOOTSTRAPSERVERS: kafka:9092
      SERVER_PORT: 8080
    ports:
      - 8081:8080

  ms-twitterclient:
    container_name: ms-twitterclient
    image: aliskhakov/twitterclient:${APP_VERSION}
    environment:
      APP_TWITTER_CONSUMERKEY: ${TWITTER_CONSUMER_KEY}
      APP_TWITTER_CONSUMERSECRET: ${TWITTER_CONSUMER_SECRET}
      APP_TWITTER_ACCESSTOKEN: ${TWITTER_ACCESS_TOKEN}
      APP_TWITTER_ACCESSTOKENSECRET: ${TWITTER_ACCESS_TOKEN_SECRET}
      APP_TWITTER_TWEETSPERSEARCH: 10
      SERVER_PORT: 8080
    ports:
      - 8083:8080

  ms-tweetsgetter:
    container_name: ms-tweetsgetter
    image: aliskhakov/tweetsgetter:${APP_VERSION}
    depends_on:
      - ms-twitterclient
      - ms-tweets
    environment:
      APP_TWITTERCLIENTURL: http://ms-twitterclient:8080/mock
      APP_TWEETSURL: http://ms-tweets:8080
      APP_GETTWEETSPERIODICITY: 30000
      SERVER_PORT: 8080
    ports:
      - 8082:8080

  ms-users-db:
    container_name: ms-users-db
    image: postgres:12.1-alpine
    restart: always
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: twisub
    ports:
      - 54321:5432

  ms-users:
    container_name: ms-users
    image: aliskhakov/users:${APP_VERSION}
    depends_on:
      - ms-users-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://ms-users-db:5432/twisub
      SPRING_DATASOURCE_USERNAME: username
      SPRING_DATASOURCE_PASSWORD: password
      APP_TWEETSURL: http://ms-tweets:8080
      SERVER_PORT: 8080
    ports:
      - 8085:8080

  ms-webapp:
    container_name: ms-webapp
    image: aliskhakov/webapp:${APP_VERSION}
    depends_on:
      - ms-users
      - ms-tweets
      - ms-browser-notifications
    environment:
      APP_USERSURL: http://ms-users:8080
      APP_TWEETSURL: http://ms-tweets:8080
      APP_NOTIFICATIONSURL: http://localhost:8086
      SERVER_PORT: 8080
    ports:
      - 8080:8080

  ms-notifier:
    container_name: ms-notifier
    image: aliskhakov/notifier:${APP_VERSION}
    depends_on:
      - ms-browser-notifications
      - ms-users
      - kafka
    environment:
      SPRING_KAFKA_CONSUMER_BOOTSTRAPSERVERS: kafka:9092
      APP_EMAILSENDERURL: http://ms-emailsender:8080
      APP_USERSURL: http://ms-users:8080
      APP_NOTIFICATIONSURL: http://ms-browser-notifications:8080

  ms-emailsender:
    container_name: ms-emailsender
    image: aliskhakov/emailsender:${APP_VERSION}
    environment:
      SPRING_MAIL_HOST: ${MAIL_HOST}
      SPRING_MAIL_PORT: ${MAIL_PORT}
      SPRING_MAIL_USERNAME: ${MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${MAIL_PASSWORD}
      SERVER_PORT: 8080
    ports:
      - 8084:8080

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    restart: always
    ports:
      - 2181:2181

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    depends_on:
      - zookeeper
    restart: always
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: 'new-tweets:1:1'
      KAFKA_MESSAGE_MAX_BYTES: 2000000
    ports:
      - 9092:9092

  ms-browser-notifications-redis:
    image: bitnami/redis:5.0
    container_name: ms-browser-notifications-redis
    environment:
      - REDIS_PASSWORD=password
    ports:
      - 6379:6379

  ms-browser-notifications:
    container_name: ms-browser-notifications
    image: aliskhakov/browser-notifications:${APP_VERSION}
    depends_on:
      - ms-browser-notifications-redis
    environment:
      APP_REDIS_HOST: ms-browser-notifications-redis
      APP_REDIS_PORT: 6379
      APP_REDIS_PASSWORD: password
      SERVER_PORT: 8080
    ports:
      - 8086:8080
