version: '3.4'

services:
  ms-tweets-db:
    container_name: ms-tweets-db
    image: postgres:12.1-alpine
    restart: always
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: twisub
    ports:
      - 54320:5432

  ms-tweets:
    container_name: ms-tweets
    image: aliskhakov/tweets:0.0.1-SNAPSHOT
    depends_on:
      - ms-tweets-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://ms-tweets-db:5432/twisub
      SPRING_DATASOURCE_USERNAME: username
      SPRING_DATASOURCE_PASSWORD: password
      SERVER_PORT: 8080
    ports:
      - 8081:8080

  ms-twitterclient:
    container_name: ms-twitterclient
    image: aliskhakov/twitterclient:0.0.1-SNAPSHOT
    environment:
      APP_TWITTER_CONSUMERKEY: ENTER_YOUR_APP_TWITTER_CONSUMERKEY
      APP_TWITTER_CONSUMERSECRET: ENTER_YOUR_APP_TWITTER_CONSUMERKEY
      APP_TWITTER_ACCESSTOKEN: ENTER_YOUR_APP_TWITTER_ACCESSTOKEN
      APP_TWITTER_ACCESSTOKENSECRET: ENTER_YOUR_APP_TWITTER_ACCESSTOKENSECRET
      APP_TWITTER_TWEETSPERSEARCH: 10
      SERVER_PORT: 8080
    ports:
      - 8083:8080

  ms-tweetsgetter:
    container_name: ms-tweetsgetter
    image: aliskhakov/tweetsgetter:0.0.1-SNAPSHOT
    depends_on:
      - ms-twitterclient
      - ms-tweets
    environment:
      APP_TWITTERCLIENTURL: http://ms-twitterclient:8080/mock
      APP_TWEETSURL: http://ms-tweets:8080
      APP_GETTWEETSPERIODICITY: 30000
      SERVER_PORT: 8080
    ports:
      - 8082:8080

  ms-users-db:
    container_name: ms-users-db
    image: postgres:12.1-alpine
    restart: always
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: twisub
    ports:
      - 54321:5432

  ms-users:
    container_name: ms-users
    image: aliskhakov/users:0.0.1-SNAPSHOT
    depends_on:
      - ms-users-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://ms-webapp-db:5432/twisub
      SPRING_DATASOURCE_USERNAME: username
      SPRING_DATASOURCE_PASSWORD: password
      APP_TWEETSURL: http://ms-tweets:8080
      SERVER_PORT: 8080
    ports:
      - 8085:8080

  ms-webapp:
    container_name: ms-webapp
    image: aliskhakov/webapp:0.0.1-SNAPSHOT
    depends_on:
      - ms-users
      - ms-tweets
    environment:
      APP_USERSURL: http://ms-users:8080
      APP_TWEETSURL: http://ms-tweets:8080
      SERVER_PORT: 8080
    ports:
      - 8080:8080

  ms-emailsender:
    container_name: ms-emailsender
    image: aliskhakov/emailsender:0.0.1-SNAPSHOT
    environment:
      SPRING_MAIL_HOST: smtp.gmail.com
      SPRING_MAIL_PORT: 587
      SPRING_MAIL_USERNAME: username
      SPRING_MAIL_PASSWORD: password
    ports:
      - 8084:8080

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    restart: always
    ports:
      - 2181:2181

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    depends_on:
      - zookeeper
    restart: always
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: 'new-tweets:1:1'
      KAFKA_MESSAGE_MAX_BYTES: 2000000
    ports:
      - 9092:9092
